# Python
__pycache__/
*.pyc
.venv/
.env
.env.*

# Data/outputs
/data/*
!data/.gitkeep
!data/team_branding.csv
!data/d1_conferences.csv
!data/team_map.csv
!data/conferences.csv
/outputs/*
!outputs/.gitkeep
!outputs/daily_results/
!outputs/daily_results/*.csv
!outputs/games_with_last.csv
!outputs/games_with_closing.csv

# Vendors / embedded repos
onnxruntime/

# VSCode
.vscode/
